    {# Show potential errors #}
    <div>
        {% if alert.errors | length > 0 %}
            <section>
                <h3>We have some errors:</h3>
                <ul>
                    {% for error in alert.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if alert.messages | length > 0 %}
            <section>
                <h3>We have some warnings:</h3>
                <ul>
                    {% for message in alert.messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>