<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
<title>{% block title %}{%endblock%} - Tootls</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="dist/js/jquery-3.1.1.min.js"></script>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>