{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    Hey, {{ user }}.

    <a href="index.php?logout=1">Logout</a>

    {{ include('alert.html') }}

	<form method="post" action="index.php" name="actionform">
		<label for="input_field">Input</label>
		<input type="text" name="input_field" id="input_field" required>

        <input type="submit" name="unzip" value="unzip">
        <input type="submit" name="move" value="move">
    </form>
		<button class="btn btn-download">download</button>

    <pre><div class="download-progress"></div></pre>

    <script type="text/javascript">
        var progressElement = document.getElementById('download-progress')

        function updateProgress(percentage) {
            // progressElement.style.width = percentage + '%';
            // progressElement.innerHTML = percentage + '%';
            progressElement.innerHTML = percentage;
        }

        $(document).ready(function() {
            $('.btn-download').click(function() {

                var xhr = new XMLHttpRequest();  
                xhr.previous_text = '';
        
                 
                //xhr.onload = function() { log_message("[XHR] Done. responseText: <i>" + xhr.responseText + "</i>"); };
                xhr.onerror = function() { log_message("[XHR] Fatal Error."); };
                xhr.onreadystatechange = function() 
                {
                    console.log('state changed. xhr state: ' + xhr.readyState);
                    try
                    {
                        if (xhr.readyState > 2)
                        {
                            var new_response = xhr.responseText.substring(xhr.previous_text.length);
                            var result = JSON.parse( new_response );
                            console.log(result.progress);
                            //update the progressbar
                            $('.download-progress').html(result.progress + "%");
                            // document.getElementById('progressor').style.width = result.progress + "%";
                            xhr.previous_text = xhr.responseText;
                        }   
                    }
                    catch (e)
                    {
                        console.log("[XHR] Exception: " + e + ", xhr state: " + xhr.readyState);
                    }
                     
                     
                };
         
                xhr.open("POST", "index.php", true);
                xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xhr.send( "download=1&input_field=" + $('#input_field').val() );

            });
        });
    </script>

{% endblock %}